imports:
  - { resource: handlers/services.yml }

# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
  handler_email: 'contact@example.com'

services:
  app.user_service:
    class: AppBundle\Service\UserService
    arguments:
      - '@doctrine.odm.mongodb.document_manager'
      - '@security.password_encoder'

  app.form_builder.catcher:
    class: AppBundle\Service\CatcherFormBuilder
    arguments:
      - '@form.factory'

  app.hit_processor:
    class: AppBundle\Service\HitProcessor
    arguments:
      - '@doctrine.odm.mongodb.document_manager'
      - '@app.handler_manager'
      - '@logger'

  app.handler_manager:
    class: AppBundle\Service\HandlerManager

  app.voter.project:
      class: AppBundle\Security\ProjectVoter
      tags:
        - { name: security.voter }
      public: false

  doctrine_mongo_db_param_converter:
    class: Sensio\Bundle\FrameworkExtraBundle\Request\ParamConverter\DoctrineParamConverter
    arguments:
      - '@doctrine_mongodb'
    tags:
      - { name: request.param_converter, converter: doctrine.odm }
